<section class="container">
    <div class="row pt-3 pb-3">
        <div class="col-sm" *ngFor="let item of nCards">
            <div class="card m-2" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/imi.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</section>

