<ul class="nav justify-content-end bg-secondary">
  <!-- <li class="nav-item">
      <a class="nav-link active" aria-current="page" [routerLink] = "['/admin']">Manage</a>
    </li> -->
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/home" routerLinkActive="active">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/admin" routerLinkActive="active">Manage</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/prueba" routerLinkActive="active">Imran</a>
  </li>
</ul>

<router-outlet></router-outlet>
